.block_about_project{
    overflow: scroll;
    overflow-x: hidden;
    height: 85%;
}

.block_about_project h3{
    margin-top: 10px;
}

.block_images{
    position: relative;
    display: flex;
    justify-content: center;
    height: 280px;
    max-height: 280px;
    margin-bottom: 25px;
}

.btnLeft,
.btnRight{
    position: absolute;
    text-decoration: none;
    padding: 10px;
    background-color: rgba(75, 75, 75, 0.59);
    color: #FFFDFF;
    top: 50%;
    transform: translateY(-50%);
    margin: 15px;
}

.btnLeft:hover,
.btnRight:hover{
    background-color: rgba(75, 75, 75);
}

.btnLeft{
    left: 0;
}

.btnRight{
    right: 0;
}

/* Анимация слайдов */
.block_images .images-item {
    position: absolute;
    height: 100%;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

.images-item img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.block_github{

}

.github_link{
    float: none;
}

.block_category{

}

.block_usedTechnologies{

}

.block_description{

}

.slider{
    border: #000 solid 2px;
    margin: 0 auto;
    max-width: 100%;
}

.slider-line{
    display: flex;
    justify-content: center;
    transition: all 0.8s ease;
}

.popup_port i{
    font-weight: normal;
}